<html>
<body>
    <h1>Login</h1>
    <div id="login">
        <div id="login-pblog-title">{{ escape(conf.title) }}</div>

        <form method="post">
            <div id="login-form-box">
                <p>
                    <label>Password<br />
                        <input class="login-input-passwd" type="password" name="password"/>
                    </label>
                </p>
                <p><input type="submit" class="login-input-send" value="Login" /></p>
            </div><!-- Login-form-box -->
        </form>
    </div><!-- login -->
</body>
